.top{
  width:100%;
  height:100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  object-fit: cover;
}
.top h1{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  font-size: 12vw;
  text-align: center;
  line-height: 100vh;
  color:#fff;
  font-family: 'Hiragino Mincho Pro';
}